@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p><a asp-action="Create">Novo Usuário</a></p>
<p><a asp-action="Index" asp-controller="Pessoa">Listar Pessoas</a></p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Perfil)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>@Html.DisplayNameFor(model => model.Ativo)</th>
        </tr>
        <tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Perfil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.Ativo)
                </td>
            </tr>
        }
        </tr>
    </thead>
</table>
