@model IEnumerable<FuncionalidadeViewModel>

@{
    var controllerName = "Funcionalidade";
    ViewData["Title"] = "Funcionalidades";
}
<div class="row justify-content-center">
    <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-8 col-sm-10 col-xs-12">
        <form asp-action="Index" method="get">
            <input type="hidden" name="pageSize" id="pageSize" value="10" />
            <div class="row bg-light border border-secondary rounded g-1 mt-1 p-2">
                <partial name="~/Views/Shared/_headerForm.cshtml" />
                <div class="col-12">
                    <label for="Nome" class="form-label">Nome:</label>
                    <input type="text" name="Nome" id="Nome" maxlength="60" value="@ViewData["CurrentFilter"]" class="form-control form-control-sm" />
                </div>
                <div class="col-2 text-start">
                    <div class="tooltipW3">
                        <button asp-action="Create" class="btn btn-outline-secondary btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                            </svg>
                        </button>
                        <span class="tooltipW3text">Nova Funcionalidade</span>
                    </div>
                </div>
                <div class="col-8 text-center">
                    <button type="submit" class="btn btn-secondary btn-sm">Consultar</button>
                </div>
                <div class="col-2 text-end">
                    <div class="pt-2 ComboPaginacao">
                        &nbsp;
                    </div>
                </div>
            </div>
        </form>
    </div>
    @if (ViewBag.TotalEncontrado > 0)
    {
        <div class="pt-2">
            <table class="table table-md table-light table-striped table-fit table-hover caption-top border border-tables" style=" min-width: 200px;">
                <caption class="totalListagem">Total encontrado: <b>@ViewBag.TotalEncontrado</b></caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Nome)</th>
                    </tr>
                </thead>
                <tbody class="linkLinha">
                    @foreach (var item in Model)
                    {
                        <tr onclick="CallAction('@controllerName', 'Edit', '@item.Id');">
                            <td scope="row">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td class="text-start">
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="pt-1"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
    else
    {
        <partial name="~/Views/Shared/_CardSemResultado.html" />
    }
</div>