@model TelefoneViewModel

@{
    var radPrincipal_Sim = @Model.Principal ? "checked" : "";
    var radPrincipal_Nao = @Model.Principal ? "" : "checked";

    var radAtivo_Sim = @Model.Ativo ? "checked" : "";
    var radAtivo_Nao = @Model.Ativo ? "" : "checked";

    var Id = Model.Id;
}
<div class="card">
    <div class="card-body shadow">
        <div class="card-title border-bottom border-secondary">
            <div class="row">
                <div class="col-10">
                    <h5><span id="tituloFormTelefone"></span>: Telefone</h5>
                </div>
                <div class="col-2 text-end">
                    <button type="button" id="closeFormTelefone" class="btn-close" onclick="FormTelefoneControl(0);"></button>
                </div>
            </div>
        </div>
        <div class="card-text">
            <div class="row">
                <div id="alertaTelefone" class="alert alert-danger print-error-msg" style="display:none">
                    <span></span>
                    <div class="float-end">
                        <button type="button" id="closeBtn" class="btn-close" onclick="HideAlert('alertaTelefone');"></button>
                    </div>
                </div>                
                @Html.HiddenFor(model => model.PessoaId)
                <div class="col-3">
                    @Html.LabelFor(model => model.DDDNumero, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.DDDNumero, new { @class = "form-control form-control-sm", @onkeypress = "MaskItem(this, mphone);", @onblur = "MaskItem(this, mphone);" })
                </div>
                <div class="col-3">
                    @Html.LabelFor(model => model.TiposTelefone, new { @class = "form-label" })
                    @Html.DropDownListFor(model => model.TipoTelefoneId, Model.TiposTelefone, new { @class = "form-select form-select-sm" })
                </div>
                <div class="col-3 text-center">
                    <div class="ps-1 pb-2">Principal</div>
                    <div class="btn-group ps-1" role="group" aria-label="Telefone Principal">
                        <input type="radio" class="btn-check" name="Principal" id="Principal_S" value="1" autocomplete="off" @radPrincipal_Sim onclick="CheckControl();" />
                        <label class="btn btn-outline-secondary btn-sm" for="Principal_S">Sim</label>
                        <input type="radio" class="btn-check" name="Principal" id="Principal_N" value="0" autocomplete="off" @radPrincipal_Nao onclick="CheckControl();" />
                        <label class="btn btn-outline-secondary btn-sm" for="Principal_N">Não</label>
                    </div>
                </div>
                <div class="col-3 text-center">
                    <div class="ps-1 pb-2">Ativo</div>
                    <div class="btn-group ps-1" role="group" aria-label="Telefone Ativo">
                        <input type="radio" class="btn-check" name="Ativo" id="Ativo_S" value="1" autocomplete="off" @radAtivo_Sim onclick="CheckControl();" />
                        <label class="btn btn-outline-secondary btn-sm" for="Ativo_S">Sim</label>
                        <input type="radio" class="btn-check" name="Ativo" id="Ativo_N" value="0" autocomplete="off" @radAtivo_Nao onclick="CheckControl();" />
                        <label class="btn btn-outline-secondary btn-sm" for="Ativo_N">Não</label>
                    </div>
                </div>                
            </div>
        </div>
        <div class="card-body">
            <div class="row border-top border-secondary">
                <div class="col-12 text-center pt-2">
                    <button type="button" id="btnSalvaTelefone" class="btn btn-secondary btn-sm" onclick="SalvaTelefone(@Id);">Alterar</button>
                </div>
            </div>
        </div>
    </div>
</div>