@model IEnumerable<CidViewModel>

@{
    ViewData["Title"] = "CID";
}
<div class="row justify-content-center">
    <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-10 col-sm-12 col-xs-12">
        <form asp-action="Index" method="get">
            <input type="hidden" name="pageSize" id="pageSize" value="10" />
            <div class="row g-2 mt-3 bg-degradGray rounded ps-2 pe-2 pb-2">
                <div class="col-12 pb-2 border-bottom border-secondary">
                    <div class="row">
                        <div class="col-1 text-start" style="width: 2.2em;"></div>
                        <div class="col-10 text-center pt-1">Consulta: @ViewData["Title"]</div>
                        <div class="col-1 text-end align-top" style="width: 2.2em;"></div>
                    </div>
                </div>
                <div class="col-12">
                    <label for="Codigo" class="form-label">Código:</label>
                    <input type="text" name="Codigo" id="Codigo" maxlength="50" value="@ViewData["CurrentFilter"]" class="form-control form-control-sm" />
                </div>
                <div class="col-4 text-start">
                    <div class="tooltipW3">
                        <button asp-action="Create" class="btn btn-outline-secondary btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                            </svg>
                        </button>
                        <span class="tooltipW3text">Novo CID</span>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <button type="submit" class="btn btn-secondary btn-sm">Consultar</button>
                </div>
                <div class="col-4 text-end">
                    <div class="pt-2 ComboPaginacao">
                        &nbsp;
                    </div>
                </div>
            </div>
        </form>
    </div>
    @if (ViewBag.TotalEncontrado > 0)
    {
        <div class="pt-2">
            <table class="table table-md table-light table-striped table-fit table-hover caption-top border border-tables">
                <caption class="totalListagem">Total encontrado: <b>@ViewBag.TotalEncontrado</b></caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Codigo)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Descricao)</th>
                    </tr>
                </thead>
                <tbody class="linkLinha">
                    @foreach (var item in Model)
                    {
                        <tr onclick="OpenEdit('Cid', 'Edit', '@item.Id');">
                            <td scope="row">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td class="text-start">
                                @Html.DisplayFor(modelItem => item.Codigo)
                            </td>
                            <td class="text-start">
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="pt-1"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
    else
    {
        <partial name="~/Views/Shared/_CardSemResultado.html" />
    }
</div>